ol{
font-size: 100px;	
}
.dami_1{
	font-size: 50px;
	color:red;border:dotted;
}
output{
	font-stay: middle;
	font-size:50px;
	background-color: yellowgreen;
}
p{font-size: 40px;
color:goldenrod;}
div{
	font-size: 30px;
	color:red;
	background-color: #00bcd4;;
}